<div>
    <div class="react-grid-layout layout"
         style="height: 610px;">
        <div class="react-grid-item react-draggable cssTransforms react-resizable"
             style="width: 495px; height: 350px; position: absolute; transform: translate(10px, 250px);">ZART ZURT<span
                  class="react-resizable-handle react-resizable-handle-se"></span></div>
        <div class="react-grid-item react-draggable cssTransforms react-resizable"
             style="width: 180px; height: 110px; position: absolute; transform: translate(263px, 10px);">
            <div>
                <div>
                    <div><span>Emrah Umut</span><span>KOC</span></div>
                    <div>Software Developer</div>
                </div>
                <div>
                    <div><span>Ankara, Turkey</span> <span>06010</span></div>
                    <div>+90 546 887 1883</div>
                    <div>emrahuk@gmail.com</div>
                    <div>https://www.linkedin.com/in/emrahumutkoc/</div>
                    <div>https://github.com/emrahumut</div>
                </div>
            </div><span class="react-resizable-handle react-resizable-handle-se"></span>
        </div>
        <div class="react-grid-item react-draggable cssTransforms react-resizable"
             style="width: 53px; height: 110px; position: absolute; transform: translate(263px, 130px);">CART CURT<span
                  class="react-resizable-handle react-resizable-handle-se"></span></div>
    </div>
</div>

<div>
    <div>
        <div>
            <span>Emrah Umut</span>
            <span>KOC</span>
        </div>
        <div>Software Developer</div>
    </div>
    <div>
        <div>
            <span>musdrtgsy</span> <span>06010</span>
        </div>
        <div>+90 546 887 1883</div>
        <div>emrahuk@gmail.com</div>
        <div>https://www.linkedin.com/in/emrahumutkoc/</div>
        <div>https://github.com/emrahumut</div>
    </div>
</div>